# Import Translation

In [1]:
# -*- coding: utf-8 -*-
# import_trans_new.py
# @author 阿申
# @Description${description}
# @created 2019-09-19T11:32:42.883Z+08:00
# @last-modified 2020-04-20T10:34:47.522Z+08:00
#

import pandas as pd
import cx_Oracle
import csv
import re,os,sys
import subprocess
import traceback
import configparser

Base_Dir = r"C:\Users\leo.zhangzs\AppData\Roaming\Code\User\VScode\py3\UAT_Test\core"

In [13]:
class import_translation:
    def __init__(self, file_path=None, role=None):
        """
        TODO:初始化函数
        file_path: Excel路径
        role：角色
        col_list:有效列
        res_col:有效列对应列号
        """
        try:
            self.config = configparser.ConfigParser()
            self.config.read(os.path.join(Base_Dir, "Setting.txt"), encoding='utf-8')
            self.role_list = self.config.get('Configs', 'ROLE_LIST').split(',')
            self.role_check = self.config.get('Configs', 'ROLE_Check').split(',')
            emp = ['EMP', 'EMPLOYEE']
            self.role_list.extend(emp)
            if file_path is not None:  # TODO:文件路径检验
                self.path = file_path
            else:
                self.path = input("Input the path of Excel：")
            Check = True
            while Check:
                if os.path.isfile(self.path):
                    file_type = os.path.splitext(self.path)[1]
                    if file_type.lower() == ".xlsx":
                        Check = False
                        break
                    else:
                        self.path = input("Input the path of Excel：")
                        print("Wrong file type, please use Excel 2010 and above.")
                else:
                    print('Wrong path, pls try again!')
                    self.path = input("Input the path of Excel：")

            if role is not None:  # TODO:Role 角色检验
                self.role = role
            else:
                self.role = str(input("Input Role？：")).upper()
            while self.role not in self.role_list:
                print('Role no exist, please try again!')
                self.role = str(input("Input Role？：")).upper()
            print("Role:"+self.role)
            self.col_list = ['ID_SOURCE', 'NUM', 'DATE', 'CHAR']
            self.res_col = []
            self.res_index = []
            csv_name = os.path.split(self.path)[1].split('.')[0].replace(' ','_')
            self.csv_dir = os.path.join(os.path.dirname(self.path), f'{csv_name}_new.csv')
            self.csv_dir_None = os.path.join(os.path.dirname(self.path), f'{csv_name}_None.csv')
            print("Excel Path:" + self.path)
            print("CSV Path:" + self.csv_dir)
        except Exception as e:
            print(traceback.format_exc())

    def collection(self):
        """
        收集表头，有效列对应序号
        """
        try:
            excel = pd.read_excel(self.path,sheet_name=0,header=0,)
            excel = excel.sort_values('ID_SOURCE').set_index('ID_SOURCE', drop=False)
            sql = ''
            res = []
            cols = ""
            Total_Input = len(excel)
            print(f'Total_Input: {Total_Input}')
            if self.role == 'EMPLOYEE' or self.role == 'EMP':
                db = cx_Oracle.connect(self.config.get('Account', 'DB_USER'), self.config.get('Account', 'DB_PASS'), self.config.get('Account', 'DB_SERV')) #连接数据库
                cur = db.cursor()
                role_list = ("','").join(self.role_check)
                for a in [excel['ID_SOURCE'][i:i+500] for i in range(0,len(excel),500)]:
                    y = "','".join([str(s) for s in list(a)])
                    sql = f"select ee.id_source, ee.id_xrm_employee from dm_campaign.dct_xrm_employee ee where ee.id_source in ('{y}') and ee.code_xrm_employee_role in ('{role_list}') order by ee.id_source"
                    try:
                        cur.execute(sql)
                        res.extend(cur.fetchall())
                        if len(cols) == 0:
                            cols = [i[0] for i in cur.description]
                    except Exception as e:
                        print(e,sql)
                db.close()
                try:
                    df1 = pd.DataFrame(data=res, index=[i[0] for i in res],columns=cols)
                    df = pd.concat([excel, df1['ID_XRM_EMPLOYEE']],axis=1, join_axes=[excel.index])
                    NoExcel = df[df['ID_XRM_EMPLOYEE'].isnull()==True]
                    excel = df[df['ID_XRM_EMPLOYEE'].isnull()==False]
                except Exception as e:
                    print(e, traceback.format_exc())
                    print(df)
            else:
                excel['ID_SOURCE'] = [self.role+'.'+str(a) for a in excel['ID_SOURCE']]
                excel.rename(columns={'ID_SOURCE':'ID_XRM_EMPLOYEE'},inplace=True) 
                
            Total_Output = len(excel)
            print(f'Total_Output: {Total_Output}')
            # excel.rename(columns={'ID_SOURCE':'ID_XRM_EMPLOYEE'},inplace=True) 
            char = [i for i in [i for i in excel.keys()] if re.findall(r'^[^A-z]+|[A-z_]+', i)[0]=='CHAR']
            num = [i for i in [i for i in excel.keys()] if re.findall(r'^[^A-z]+|[A-z_]+', i)[0]=='NUM']
            dtime = [i for i in [i for i in excel.keys()] if re.findall(r'^[^A-z]+|[A-z_]+', i)[0]=='DATE']
            out_put = ['ID_XRM_EMPLOYEE'] + char + num + dtime
            None_put = ['ID_SOURCE'] + char + num + dtime
            excel[char] = excel[char].astype(str)
            f = lambda x: '"'+ str(x)+'"'
            excel[char] = excel[char].applymap(f)
            excel[out_put].to_csv(self.csv_dir, index=0, sep=";", date_format='%d.%m.%Y', encoding='utf-8', quoting=csv.QUOTE_NONE,escapechar=';')
            if Total_Output != Total_Input:
                NoExcel[None_put].to_csv(self.csv_dir_None, index=0, sep=";", date_format='%d.%m.%Y', encoding='utf-8', quoting=csv.QUOTE_NONE,escapechar=';')
            splitstr = input("文件中是否包含分隔符';'Y/[N]")
            if str(splitstr).upper()== 'Y':
                file_data = ''
                with open(self.csv_dir, 'r', encoding='utf-8') as f:
                    for line in f:
                        if ";;" in line:
                            line = line.replace(';;', ';')
                        file_data += line
                with open(self.csv_dir, 'w', encoding='utf-8') as f:
                    f.write(file_data)
            
            ustr = input('是否上传至/opt/tmp/ma/import [Y]/N:')
            if str(ustr).upper() == 'Y':
                if os.path.exists('C://Program Files (x86)//WinSCP//WinSCP.com'):
                    winscp = r'C:\Program Files (x86)\WinSCP\WinSCP.com'
                elif os.path.exists('D://Program Files (x86)//WinSCP//WinSCP.com'):
                    winscp = r'D:\Program Files (x86)\WinSCP\WinSCP.com'
                elif os.path.exists('D://WinSCPPortable//App//WinSCP//WinSCP.com'):
                    winscp = r'D:\Program Files (x86)\WinSCP\WinSCP.com'
                process = subprocess.call([f'{winscp}', '/command', 'open sftp://sas:ss*123*xrmprodapp@pacnvx117.cn.prod/', f'put {self.csv_dir} /opt/tmp/ma/import/{os.path.basename(self.csv_dir)}', 'exit'],stdout=subprocess.PIPE, stderr=subprocess.PIPE)
                if str(process) == '0':
                    print(f'上传成功：/opt/tmp/ma/import/{os.path.basename(self.csv_dir)}')
                else:  
                    print(f'上传失败，请手动执行')
        except Exception as e:
            print(traceback.format_exc())


def main():
    # 隐藏小道具
    try:
        file_dir = os.path.join(Base_Dir, 'import')
        if os.path.exists(file_dir) and len(os.listdir(file_dir)) > 0:
            print('彩蛋功能')
        else:
            file_dir = input("Input the path of Excel：")
        if os.path.isdir(file_dir):
            for i in os.listdir(file_dir):
                if i.split('.')[1] == 'xlsx':
                    fdir = os.path.join(file_dir, i)
                    print('Excel：'+str(i))
                    test = import_translation(fdir)
                    test.collection()
        else:
            test = import_translation(file_dir)
            test.collection()
    except Exception as e:
        print(traceback.format_exc())
    finally:
        q = input('按任意键继续，按Q键退出：')
        return q

In [14]:
#执行
start = True
while start:
    main()
    q = input('按任意键继续，按Q键退出：')
    if q.upper() == 'Q':
        start = False

Input the path of Excel：C:\Users\leo.zhangzs\Documents\HCC\Campagin\import\DSM list.xlsx
Input Role？：emp
Role:EMP
Excel Path:C:\Users\leo.zhangzs\Documents\HCC\Campagin\import\DSM list.xlsx
CSV Path:C:\Users\leo.zhangzs\Documents\HCC\Campagin\import\DSM_list_new.csv
Total_Input: 1211
Total_Output: 1126
文件中是否包含分隔符';'Y/[N]n
是否上传至/opt/tmp/ma/import [Y]/N:n
按任意键继续，按Q键退出：q
按任意键继续，按Q键退出：q

In [23]:
if __name__ == "__main__":
    try:
        start = True
        while start:
            q = main()
            if q.upper() == 'Q':
                start = False
    except Exception as e:
        print(traceback.format_exc())
    finally:
        os.system("pause")

In [4]:
db = cx_Oracle.connect('HCCN_LEOZHANGZS', 'Leozs20200301', 'SASXRCN.HOMECREDIT.CN') #连接数据库
cur = db.cursor()
excel = pd.read_excel(r'C:\Users\leo.zhangzs\Documents\HCC\Campagin\import\DSM list.xlsx',sheet_name=0,header=0,)
excel = excel.sort_values('ID_SOURCE')
res = []
cols = ""
for a in [excel['ID_SOURCE'][i:i+500] for i in range(0,len(excel),500)]:
    y = "','".join([str(s) for s in list(a)])
    sql = f"""select distinct ee.id_source, ee.id_xrm_employee from dm_campaign.dct_xrm_employee ee where ee.id_source in ('{y}') 
    and ee.code_xrm_employee_role in ('DSM','DSMT','SDSM','CH') order by ee.id_source"""
    cur.execute(sql)
    res.extend(cur.fetchall())
    if len(cols) == 0:
        cols = [i[0] for i in cur.description]
db.close()

In [5]:
df1 = pd.DataFrame(data=res, index=[i[0] for i in res],columns=cols)

In [6]:
excel = excel.set_index('ID_SOURCE', drop=False)

In [7]:
df = pd.concat([excel, df1['ID_XRM_EMPLOYEE']],axis=1, join_axes=[excel.index])

In [8]:
df[df['ID_XRM_EMPLOYEE'].isnull()==True]

           ID_SOURCE  CHAR1 ID_XRM_EMPLOYEE
ID_SOURCE
40114          40114      1             NaN
74765          74765      1             NaN
77199          77199      2             NaN
93584          93584      2             NaN
99724          99724      1             NaN
116241        116241      1             NaN
121590        121590      4             NaN
126617        126617      1             NaN
132641        132641      1             NaN
133649        133649      1             NaN
142617        142617      1             NaN
144088        144088      1             NaN
145949        145949      1             NaN
149394        149394      1             NaN
155653        155653      1             NaN
156998        156998      1             NaN
161120        161120      1             NaN
163082        163082      1             NaN
165551        165551      1             NaN
166843        166843      1             NaN
180034        180034      1             NaN
180534        180534      1             NaN
182011        182011      1             NaN
182184        182184      1             NaN
182613        182613      1             NaN
190249        190249      1             NaN
190701        190701      1             NaN
197547        197547      1             NaN
206504        206504      1             NaN
206771        206771      1             NaN
...              ...    ...             ...
343364        343364      1             NaN
353889        353889      1             NaN
356249        356249      1             NaN
359485        359485      1             NaN
375493        375493      1             NaN
378172        378172      1             NaN
378908        378908      1             NaN
400231        400231      1             NaN
436177        436177      1             NaN
441406        441406      1             NaN
462334        462334      2             NaN
462414        462414      1             NaN
476365        476365      2             NaN
485620        485620      2             NaN
489659        489659      1             NaN
494254        494254      1             NaN
507132        507132      1             NaN
510181        510181      1             NaN
511036        511036      1             NaN
525231        525231      1             NaN
582962        582962      1             NaN
604434        604434      2             NaN
608538        608538      1             NaN
615971        615971      1             NaN
620486        620486      1             NaN
625486        625486      1             NaN
626024        626024      1             NaN
628587        628587      1             NaN
629335        629335      2             NaN
630945        630945      1             NaN

[85 rows x 3 columns]

In [ ]:
excel = excel.set_index(['ID_SOURCE'])
excel.loc[self.res_index, 'ID_XRM_EMPLOYEE'] = self.res_col
# excel['ID_SOURCE'] = self.res_col
NoExcel = excel[(excel['ID_XRM_EMPLOYEE'].isna() == True)]
excel = excel[(excel['ID_XRM_EMPLOYEE'].isna() == False)]